<div class="container">
    <div class="type-choice">
        <span class="selected single">single line</span>
        <span class="multi">multiline</span>
    </div>
    <input class="expression" placeholder="Enter expression" />
    <textarea class="multiline-expression" placeholder="Enter multiline expression"></textarea>
    <br>
    <span class="check-button">Check expression</span>

    <div class="check-results"></div>
</div>